/* Application specific CSS */

/* ChatInput styles */
footer {
  color: white;
  position: fixed;
  padding: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20vh;
}

footer .input-field input,
button {
  border-color: #FFFFFF;
}

.chip {
  font-style: italic;
}

/* ChatHistory styles */
.collection {
  margin: 0 0 130px 0;
  overflow-y: scroll;
  height: 80vh;
}

.message-date {
  color: #585858;
}

body {
  background: #EEEEEE;
  overflow: hidden;
}
