/* Application specific CSS */

/* ChatInput styles */
footer {
  color: white;
  position: fixed;
  padding: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 90px;
}

footer.landing{
  height: 250px;
}

footer .input-field input,
button {
  border-color: #FFFFFF;
}

.chip {
  font-style: italic;
}

/* ChatHistory styles */
.collection {
 margin-bottom:50px;
 margin-top: -1px;
 border: 0;
}

.message-date {
  color: #585858;
}

body {
  background: #EEEEEE;
}
body .collection .collection-item.avatar{
  min-height: 50px;
}
body .cont{
  height: 100%;
  min-height: 450px;
}
body .container.main{
  margin: 0;
  height: 100%;
  min-height: 550px;
  width: 100%;
}
.main .col.current, .col.convos{
  padding: 0;
  max-height: 550px;
  height: 550px;
  display: block;
  overflow: scroll;
  margin-top: 40px!important;
  display: block;
}
.main .convos, .mian .col.current{
  border-right: 1px solid lightgrey;
  min-height: 550px;
  padding-bottom: 70px;
  overflow: scroll;
  margin-top: 40px!important;
}
.note{
  height: 200px;
}
.note p{
  width: 100%;
}
.convos .collection-item{
  padding-left: 40px;
}
.collection .collection-item.avatar .circle{
  height: 30px;
  width: 30px;margin-left: 10px;
}
.main .header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  font-size: 14px;
  height: 40px;
}
.main .header h5{
  font-size: 16px;
  color: white;
}

.current .collection .collection-item.message{
  height: 40px;
  padding-left: 40px;
  font-size: 14px;
  border-radius: 4px;
  padding: 2px 30px;
  margin: 10px 30px;
}
.user-title{
  font-size: 13px;
}
.main .header nav{
  height: 40px;
  line-height: 40px;
  background: none;
}

/*
 *  Usage:
 *
      <div class="sk-three-bounce">
        <div class="sk-child sk-bounce1"></div>
        <div class="sk-child sk-bounce2"></div>
        <div class="sk-child sk-bounce3"></div>
      </div>
 *
 */
.collection .collection-item.unread{
  border-right: 1px solid red;
}
#root .container.main.loader{
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
}
.sk-three-bounce {
  margin: 40px auto;
  width: 80px;
  text-align: center; }
  .sk-three-bounce .sk-child {
    width: 20px;
    height: 20px;
    background-color: #333;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
            animation: sk-three-bounce 1.4s ease-in-out 0s infinite both; }
  .sk-three-bounce .sk-bounce1 {
    -webkit-animation-delay: -0.32s;
            animation-delay: -0.32s; }
  .sk-three-bounce .sk-bounce2 {
    -webkit-animation-delay: -0.16s;
            animation-delay: -0.16s; }

@-webkit-keyframes sk-three-bounce {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes sk-three-bounce {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1); } }