/* Application specific CSS */

.message-container {
  height: 100vh;
  flex-direction: column;
}

.message-container, .message-form {
  display: flex;
}

.message-form {
  flex: 1;
  max-height: 136px;
  background-color: #009688 !important;
  color: white;
}

.message-list {
  flex: 1;
  overflow: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.message-form .input-field input {
  border-color: #FFFFFF;
}

.chip {
  font-style: italic;
}

.mdi-communication-chat {
  color: white;
}

.collection .collection-item:last-child {
  border-bottom: 0.1em solid #DCDCDC;
}

/* -------- Online user list ---------- */

.online-user-list, .online-user-list ul {
  display: flex;
}

.online-user-list {
  margin: 0;
  height: 68px;
  background-color: #009688 !important;
}

.online-user-list ul {
  flex: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 5px;
}

.online-user-list li{
  display: inline-block;
}

.online-user-list img{
  margin: 4px;
  width: 50px;
}

.online-users-number{
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

.online-users-number i{
  font-size: 50px;
  padding-right: 10px;
}

/* -------- User Typing indicator ---------- */

.typing-indicator-box {
  flex: 1;
  margin:0;
  max-height:45px;
  background-color: #A2C4C9;
}

.typing-indicator-box ul {
  flex: 1;
  flex-direction: row;
  overflow-x:auto;
  flex-wrap: nowrap;
  margin:0;
}

.typing-indicator-box img{
  padding:4px;
  width:45px;
}

.typing-indicator-box li{
  display: inline-block;
}

.typing-indicator {
  background-color: #E6E7ED;
  width: auto;
  border-radius: 33px;
  padding: 10px;
  display: inline-block;
  margin: 0 auto;
  margin-top:5px;
  position: relative;
  top: -10px;
  -webkit-animation: 2s bulge infinite ease-out;
          animation: 2s bulge infinite ease-out;
}
.typing-indicator:before, .typing-indicator:after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: -2px;
  height: 10px;
  width: 10px;
  border-radius: 40%;
  background-color: #E6E7ED;
}
.typing-indicator:after {
  height: 5px;
  width: 5px;
  left: -5px;
  bottom: -5px;
}
.typing-indicator span {
  height: 6px;
  width: 6px;
  float: left;
  margin: 0 1px;
  background-color: #9E9EA1;
  display: block;
  border-radius: 50%;
  opacity: 0.4;
}
.typing-indicator span:nth-of-type(1) {
  -webkit-animation: 1s blink infinite 0.3333s;
          animation: 1s blink infinite 0.3333s;
}
.typing-indicator span:nth-of-type(2) {
  -webkit-animation: 1s blink infinite 0.6666s;
          animation: 1s blink infinite 0.6666s;
}
.typing-indicator span:nth-of-type(3) {
  -webkit-animation: 1s blink infinite 0.9999s;
          animation: 1s blink infinite 0.9999s;
}

@-webkit-keyframes blink {
  50% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes bulge {
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}
@keyframes bulge {
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

